*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  background: url(../assets/bgimage2.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  position: relative;
}
