$color-primary: #027373;
$color-primary-dark: #003131;

$color-secondary: #a62b85;
$color-secondary-dark: #7b1460;

$color-light: rgb(198, 198, 198);
$color-light-transparent: rgba(227, 227, 227, 0.1);
$color-white: #fff;

$text-xs: 0.7rem;
$text-sm: 1rem;
$text-md: 1.3rem;
$text-lg: 1.7rem;
