.dropdown-menu {
  margin: 0 !important;
  background-color: $color-light-transparent;
}

.dropdown-item {
  background-color: transparent !important;
  color: $color-black !important;
}

.dropdown-item:hover {
  background-color: $color-primary !important;
  color: $color-white !important;
}