
.dropdown-menu {
  background-color: transparent;
  /* position: absolute !important;
  left: -60px !important;*/
}

.dropdown-item {
  background-color: transparent !important;
  color: rgb(103, 103, 103) !important;
}

.dropdown-item:hover {
  background-color: $color-primary !important;
  color: $color-white !important;
}

.offcanvas {
    /* max-width: 250px; */
}