@import "abstracts/variables";

@import "base/animations";
@import "base/base";

@import "components/button";


h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.5rem;
}

.main {
  background: url(../assets/bgimage2.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.main-container {
  height: 100%;
  position: absolute;
}

.principal {
  padding-top: 50px;
  height: 100%;
}

.box {
  width: 400px;
  background-color: #fff;
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 5px 1px #696969;
}

.inline-block {
  display: inline;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.3rem;
  }

  .box {
    width: 100%;
  }

  .principal {
    padding-top: 10px;
  }
}